APP_URL="http://localhost:3000"
DATABASE_URL="postgresql://aacfl:aacfl@localhost:5432/aacfl_dev?schema=public"
AUTH_SECRET="replace-with-at-least-32-random-characters"
AUTH_TRUST_HOST="true"
AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""
LOG_LEVEL="info"
TEST_ENV="false"
INITIAL_OWNER_EMAIL=""
